<table>
  <tr>
    <th>Usuario</th>
    <th>Nombre</th>
    <th>Email</th>
  </tr>
      <tr>
      <td>  <%= @user.name %> </td>
        <td>  <%= @user.email %> </td>
        <td>  <%= @user.password_digest %> </td>
      </tr>
</table>